<!DOCTYPE html>
    <html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="/js/home/login.js" defer></script>
    </head>
    <body>
        <input id="id" placeholder="아이디"><br> 
        <input id="password" type="text" placeholder="비밀번호"><br> 
         <button>로그인</button>
    </body>
    </html>